---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h1 class="tag-header">Terry Deng 邓煜</h1>
      <br>
        <img src="https://s2.loli.net/2023/12/09/BsrxPNblaFwX4IR.jpg" width="340" height="250"/>
      <br><br>
        <div class="tag-post-list">
          Terry Deng is a master's student in Business Information Systems at the University of Canterbury, 
          specializing in IS Security and Risk Management, Computer Programming and Systems Analysis.
          Previously, he earned a Bachelor's degree in Network and New Media from Shanghai Sanda University, 
          focusing on User Experience/Interaction Design and Internet Product Prototyping, and graduated as an "Outstanding Graduate".
          <br><br>
          邓煜（Terry Deng）是坎特伯雷大学商业信息系统专业的硕士研究生， 专攻信息系统安全与风险管理、计算机编程和系统分析。
          此前，他在上海杉达学院获得网络与新媒体学士学位，主修用户体验交互设计以及互联网产品原型，并以 "优秀毕业生 "的身份毕业。
          <br><br>
          Terry has notable experience in Internet products and UI/UX design, and his prototype of "Witu" App was awarded the "Outstanding Graduation Design" 
          and the "National University Student Digital Art Design Competition" second prize.
          He also worked as a Swift Teaching Assistant at Apple, educating primary school students in programming. 
          Terry's technical skills include proficiency in Python, Swift, JavaScript, and various design tools. 
          He is an Apple Certified Teacher with Swift and expresses a keen interest in cybersecurity and iOS/Mac programming. 
          <br><br>
          邓煜在互联网产品以及 UI/UX 设计方面有显著经验，其设计的“器途” App 原型曾获 “优秀毕业设计” 和 “全国大学生数字艺术设计大赛”二等奖。他还曾在 Apple 公司担任 Swift 助教，教授小学生编程。
          邓煜的技能包括了解网络安全的风险管理、熟练掌握 Python、Swift、JavaScript 和各种设计工具。他是一名获得 Swift 认证的 Apple 认证教师，对 iOS 编程及其安全表现出浓厚兴趣。
          <br><br>
          Terry is fluent in Mandarin and conversational in English. In his spare time, he likes to play badminton and study handheld game consoles like Steam Deck.
          <br><br>
          邓煜能说流利的普通话，会一定程度的英语交流，平时喜欢打羽毛球和研究掌上游戏机，比如 Steam Deck。
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Curriculum Vitae 简历</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              Click <a href="https://www.terrylog.cn/posts/Curriculum%20Vitae">here</a> for my detailed CV (English).
            </li>
            <li>
              点击 <a href="https://www.terrylog.cn/posts/Curriculum%20Vitae">这里</a> 查看我的详细简历 (中文)。
            </li>
          </ul>
        </div>
      </div>
      
      <div class="archive-tag">
        <h2 class="tag-header">Contact 联系</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              Email: <a href="mailto:Realterrydeng@gmail.com">realterrydeng@gmail.com</a>
            </li>
            <li>
              Phone: +86 18683867761, +64 2040361388
            <li>
              Wechat: <a href="https://s2.loli.net/2023/12/09/M4RrIUWi1awodsy.jpg" target="_blank">DelicateFn</a>
            </li>
            <li>
              Instagram: <a href="https://instagram.com/realterrydeng?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr" target="_blank">Realterrydeng</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
