---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>Terry</li>
            <li>在读学生</li>
            <li>正在学习Coding</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="" target="_blank"> Twitter（Dev）</a>
            </li>
            <li>
              <a href="" target="_blank">Github（Dev）</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
