---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout primaryTitle="archive">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">All Posts</h2>
        <div class="tag-post-list">
          {allPosts.length !== 0 ? <ArchivePostList posts={allPosts} /> : <div class="no-posts">暂无文章</div>}
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
